<div class="modal-content">
  <div class="modal-header" style="flex-direction: column; color: #101840">
    <h4 class="modal-title" style="font-size: 18px; font-weight: 600; font-family: Inter; line-height: 30px; color: #101840; text-align: center !important;">{{title}}</h4>

  </div>
  <div class="modal-body" style="padding: 15px 10px !important;">
    <p class="des" style="font-size: 14px; font-weight: 400; font-family: Inter; line-height: 20px; color: #8F95B2; text-align: center !important;">{{message1}}</p>
    <p class="des" style="font-size: 14px; font-weight: 400; font-family: Inter; line-height: 20px; color: #8F95B2; text-align: center !important;">{{message2}}</p>
  </div>
  <div class="modal-footer">
    <div class="btn-action">
      <button type="button" class="btn-md btn-gray" style="font-size: 12px; font-weight: 600; font-family: Inter; line-height: 16px; text-align: center !important;" (click)="cannel()">{{'COMMON.EXIT' | translate}}</button>
    </div>
  </div>
</div>
