.contact-title {
  display: flex;
  justify-content: space-between;
  min-height: 52px;
  border-bottom: 1px solid #e6e8f0;
  box-shadow: 0 2px 4px rgba(28, 41, 90, 0.0367952);

  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #101840;
    margin: 0;
  }
}

.btn {
  font-weight: 600;
}

.btn:hover {
  opacity: 0.7;
}

.btn-classic {
  :hover {
    transition: 0.5s;
    opacity: 0.8;
  }
}

.btn-create-group {
  background: #3366ff;
  color: #ffff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #3366ff;
  cursor: pointer;
}

.contact-search {
  font-size: 12px;
  color: #696f8c;
}

.btn-contact {
  padding: 8px 32px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  border: none;
  &__search {
    background-color: #f26522;
    min-width: 120px;
  }
  &__delete {
    background-color: #d14343;
    min-width: 75px;
    height: 40px;
    padding: 12px 16px;
  }
  &__un-check {
    background-color: #696f8c;
    margin-right: 16px;
    min-width: 100px;
    height: 40px;
    padding: 12px 16px;
  }

  svg {
    margin-right: 5px;
  }
}

.box-search {
  font-size: 12px;
  color: #696f8c;
  margin-right: 16px;
}

.search-form {
  margin: 24px 0;

  &__contact {
    width: 480px;
  }
}

//.sy-paging {
//  display: flex;
//  justify-content: space-between;
//  margin-top: 20px;
//}

.sy-paging {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 13px;
}

.sy-paging-result {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #101840;
}

.sy-page {
  background: white;
  border-radius: 3px;
  color: #696f8c;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  margin: 0 1px;
  display: inline-block;
  cursor: pointer;
  &.sy-dots {
    background-color: white;
    color: #696f8c;
    cursor: default;
  }
}

.arrow {
  margin: 0 17px;
  cursor: pointer;
}

.sy-highlight {
  background: #fce9e2 !important;
  color: #f26522 !important;
}
:host ::ng-deep {
  .upper {
    text-transform: uppercase !important;
  }

  .ag-body-horizontal-scroll-viewport {
    overflow-x: auto !important;
  }

  .ag-horizontal-right-spacer {
    width: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
  }
  //.contact-grid-teacher{
    //.ag-header-container{
    //  width: 100% !important;
    //}
    //.ag-center-cols-container {
      //width: calc(100% + 17px) !important;
      //width: 100% !important;
    //}
    //.ag-theme-balham .ag-header-row{
    //  width: 100% !important;
    //}

    //.ag-header-row .ag-header-row-column{
    //  width: 100% !important;
    //}
  //}

  // .ag-header-container{
  //   width: 100% !important;
  // }

  // .ag-header-row .ag-header-row-column {
  //   width: 100% !important;
  // }

  //.ag-center-cols-container{
  //  width: 100% !important;
  //}
}
