<div id="a" class="modal-dialog-custom" tabindex="0">
    <div id="b" class="modal-content">
      <div id="c" class="modal-header" style="border-bottom: 0">
        <h4 class="modal-title" style="text-align: center;">{{title}}</h4>
      </div>
      <div>
        <span class="modal-msg">{{message}}</span>
      </div>
      <div id="d" class="modal-footer">
        <button type="button" class="btn-md btn-gray btn-ac-hv" (click)="onDismiss()">{{'COMMON.CANCEL'|translate}}</button>
        <button type="submit" class="btn-md btn-or btn-ac-hv" (click)="onConfirm()">{{'COMMON.AGREE'|translate}}</button>
      </div>
    </div>
</div>
