<ngx-treeview
  [config]="config"
  [items]="items"
  (filterChange)="onFilterChange($event)"
  (selectedChange)="selectedChange($event)"
  [headerTemplate]="headerTemplate"
  [itemTemplate]="itemTemplate"
>
</ngx-treeview>

<ng-template #headerTemplate let-config="config" let-item="item" let-onCollapseExpand="onCollapseExpand"
             let-onCheckedChange="onCheckedChange" let-onFilterTextChange="onFilterTextChange">
  <div class="row" *ngIf="setTreeviewAll(item)">
    <div class="col-12">
      <div class="d-flex justify-content-between w-100" style="padding: 16px 0px 0 16px;">
        <div class="form-check d-flex mb-3" style="padding-left: 0">
          <mat-checkbox class="form-check mb-3"
                        style="padding-left: 0; margin-right: 8px;"
                        [disabled]="!config.checkboxEnabled || total === 0"
                        [(ngModel)]="item.checked" *ngIf="config.showCheckbox && config.hasAllCheckBox"
                        (ngModelChange)="filterText ? onReloadData($event,onFilterTextChange) : onCheckedChange(); this.config.selectByGroupValue = $event"
          >
          </mat-checkbox>
          <span style="display:flex; font-size: 16px; font-weight: 700; color: #101840; text-transform: uppercase;" class="select-all-title">{{selectAllTitle}}&nbsp;
             <span *ngIf="year != ''" style="color: #101840 !important; opacity: 0.7; font-size: 16px; font-weight: 700;">{{year}}</span>
            <span *ngIf="total !== null && total !== undefined" style="color: #101840 !important; opacity: 0.65;">({{total}})</span></span>
        </div>
        <i class="mr-3 cursor-pointer" (click)="onCollapseExpand()" aria-hidden="true" [ngSwitch]="item.collapsed" *ngIf="config.allSchool !== false">
          <svg *ngSwitchCase="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 14.3232L12.0354 9.99983L6.99999 14.3232" stroke="#101840" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <svg  *ngSwitchCase="true" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 9.67676L11.9646 14.0002L17 9.67676" stroke="#101840" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </i>
      </div>
      <div class="form-check mb-3" *ngIf="config.hasSelectByGroup">
        <mat-checkbox *ngIf="config.showCheckbox" [disabled]="!config.checkboxEnabled" [(ngModel)]="config.selectByGroupValue" (ngModelChange)="selectByGroupChange($event)"><strong style="font-size: 14px; color:#3366FF; font-family: Inter; text-transform: uppercase;">{{ 'COMMON.SELECT_BY_GROUP' | translate }}</strong></mat-checkbox>
      </div>
    </div>
  </div>
  <div *ngIf="config.hasFilter && !config.selectByGroupValue" class="row row-filter mb-4">
    <div class="col-12">
      <div class="mx-4 d-flex">
        <input class="form-control" type="text" placeholder="{{ 'COMMON.INPUT_SEARCH' | translate }}" [(ngModel)]="filterText" (blur)="filterText?.trim()" (keydown.enter)="customFilter(onFilterTextChange, filterText?.trim(), item)"
               style="font-size: 12px; color: #696F8C; line-height: 16px;"/>
        <button style="background: #F26522; font-size: 12px; font-weight: 600" (click)="customFilter(onFilterTextChange, filterText?.trim(), item)" class="btn ml-3 text-white text-nowrap">{{ 'COMMON.SEARCH' | translate }}</button>
      </div>
    </div>
  </div>
  <div *ngIf="config.hasDivider" class="dropdown-divider"></div>
</ng-template>
<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
             let-onCheckedChange="onCheckedChange">
  <div [style.padding-left.px]="config.hasSelectByGroup && config.selectByGroupValue ? item.value.level * 16 + 16 : item.value.level * 16" class="d-flex justify-content-between w-100 align-items-center mb-2">
    <div  class="form-check d-flex">
      <mat-checkbox class="w-100" [disabled]="!config.checkboxEnabled || item.value?.totalTeachersOfUnit === 0" *ngIf="shouldShowCheckbox(item)" [(ngModel)]="item.checked"
                    (ngModelChange)="onCheckedChange(); getCurrentTreeItem(item)">
        <span
          style="display: flex; margin-top: 0px; font-size: 14px; font-weight: 600; color: #101840; line-height: 24px;font-family: Inter;width: calc(100% - 30px)"
          class="cursor-pointer"
          [class.cursor-detail]="item.value?.totalTeachersOfUnit == 0 || !config.checkboxEnabled"
          [style.font-weight]="700 - (item.value.level * 100)"
          [class.text-bold]="!item.value.isTeacher"
          [class.text-grey]="!config.checkboxEnabled"
          [class.is-teacher]="item.value.isTeacher"
          [class.text-uppercase]="item.value.isRoot"
          >
          <span class="show-limit" [matTooltip]="item.text">{{item.text}}&nbsp;</span>
          <span style="color: #101840 !important; opacity: 0.65;">{{item.value?.totalTeachersOfUnit !== null && item.value?.totalTeachersOfUnit !== undefined ?('('+ item.value?.totalTeachersOfUnit +')'): ''}}</span>
        </span>
      </mat-checkbox>
      <span
        *ngIf="!shouldShowCheckbox(item)"
        [class.cursor-detail]="item.value?.totalTeachersOfUnit == 0 || !config.checkboxEnabled"
        style="margin-top: 0px; font-size: 14px; font-weight: 600;line-height: 24px !important; color: #101840;display: flex;"
        class="cursor-pointer w-100"
        (click)="onCollapseExpand()"
        [style.font-weight]="700 - (item.value.level * 100)"
        [class.text-bold]="!item.value.isTeacher"
        [class.text-grey]="!config.checkboxEnabled"
        [class.is-teacher]="item.value.isTeacher"
        [class.text-uppercase]="item.value.isRoot">
        <span class="show-limit" [matTooltip]="item.text">{{item.text}}&nbsp;</span>
        <span style="color: #101840 !important; opacity: 0.65; line-height: 24px">{{item.value?.totalTeachersOfUnit !== null && item.value?.totalTeachersOfUnit !== undefined ? ('('+ item.value?.totalTeachersOfUnit +')') : ''}}</span>
      </span>
    </div>
    <i *ngIf="item.children" class="mr-1 mt-1 cursor-pointer position-relative zindex-2" (click)="onCollapseExpand()" aria-hidden="true" [ngSwitch]="item.collapsed">
      <svg *ngSwitchCase="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17 14.3232L12.0354 9.99983L6.99999 14.3232" stroke="#101840" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <svg  *ngSwitchCase="true" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 9.67676L11.9646 14.0002L17 9.67676" stroke="#101840" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </i>
  </div>
</ng-template>
