.tree-view {
  border: 1px solid #D8DAE5;
  border-radius: 10px;
}
.create-group-btn {
  margin: 16px 6px 0;
  font-weight: 600;
  line-height: 16px;
  padding: 10px;
  border: 1px dashed #3366FF;
  font-size: 12px;
  color: #3366FF;
  border-radius: 5px;
  background: #F3F6FF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}
.font-size-18 {
  font-size: 18px;
}

.list-recipient {
  height: 41px;
  display: flex;
  padding: 6px 10px;
  border: 1px solid #D8DAE5;
  border-radius: 4px;
  span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &.see-more {
      text-overflow: inherit;
      overflow: inherit;
      color:  #3366FF;
      cursor: pointer;
    }
  }
  .group-item {
    background: #F4F6FA;
    color: #101840;
    padding: 2px 5px;
    white-space: nowrap;
  }
}

.upload-btn-area {
  border: 1px solid #D8DAE5;
  border-radius: 4px;
  .upload-btn {
    border: none;
    margin: 5px;
    padding: 5px 20px;
    background-color: #3366FF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
}

.upload-btn-area .upload-btn:hover {
  opacity: 0.7 !important;
}

.list-file-area {
  max-height: 100px;
  overflow: auto
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a5a5a54a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:999;

}
button{
  font-size: 12px;
}

button:hover{
  opacity: 0.7;
}
.file-attachment-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #696F8C;


}
.file-attachment-name {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #474D66;
}
.btn-md{
  width: 105px;
  height: 32px;
  left: 726px;
  top: 774px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  border: none;
}
.btn-gray{
  width: 113px;
  height: 40px;
  background: #E6E8F0;
  margin-right: 10px;
  color: #696F8C;
}
.btn-or{
  width: 93px;
  height: 40px;
  background: #F26522
}
:host::ng-deep {
  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #E6E8F0;
    border-radius: 20px;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  .tree-view-1 {
    .btn {
      margin-right: -4px !important;
    }

    .treeview-text {
      padding-bottom: 16px !important;
    }
  }

  .tree-view-2 {
    .dropdown-divider {
      margin-right: -7px !important;
    }

    .select-all-title {
      margin-left: 0 !important;
    }
  }
}
.group-namegv {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #101840;
}
.title-mail-box {

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #101840;
}

#loadpagepr {
  position: absolute !important;
  top: -25px !important;
  height: calc(100% + 25px);
  z-index: 50;
  display: flex;
  justify-content: center;

  #loadpage {
    position: sticky;
    top: 50%;
  }
}