<div class="modal-dialog-custom">
  <form [formGroup]="classroomAddForm" #ngForm="ngForm" class="login-form">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center;margin-bottom: 0" *ngIf="action === 'add'">{{'CLASSROOM.ADD.ADD_CLASS'|translate}}</h4>
        <h4 class="modal-title" style="text-align: center;margin-bottom: 0" *ngIf="action === 'edit'">{{'CLASSROOM.ADD.UPDATE_CLASS'|translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 years-school">
            <label>{{'STUDENT.YEAR'|translate}} <span>*</span></label>
            <ng-select [items]="listYears"
                       bindLabel="years"
                       bindValue="years"
                       formControlName="years"
                       [readonly]="true" [clearable]="false"
                       style="font-size: 12px!important;"
            >
            </ng-select>
          </div>
          <div class="col-md-6">
            <label>{{'STUDENT.GRADE'|translate}} <span>*</span></label>
            <ng-select [items]="gradeList"
                       bindLabel="name"
                       bindValue="id"
                       [placeholder]="this.placeholder"
                       [searchable]="false"
                       formControlName="gradeLevel"
                       style="font-size: 12px!important;"
            >
              <ng-template ng-option-tmp let-item="item">
                <div class="show-tooltip" [matTooltip]="item.name">{{item.name}}</div>
              </ng-template>
            </ng-select>
            <mat-error *ngIf="(classroomAddForm.get('gradeLevel').errors && classroomAddForm.get('gradeLevel').touched) ||
                           (classroomAddForm.get('gradeLevel').errors && ngForm.submitted) ">
              {{'CLASSROOM.MSG.SELECT_GRADE'|translate}}
            </mat-error>
          </div>
          <div class="col-md-6">
            <label>{{'CLASSROOM.DEPT'|translate}} <span>*</span></label>
            <ng-select [items]="departmentList"
                       bindLabel="deptIdName"
                       bindValue="id"
                       [placeholder]="this.placeholder"
                       formControlName="deptId"
                       style="font-size: 12px!important;"
                       (search)="autoSearchDept($event)"
                       [clearable]="false"
            >
              <ng-template
                ng-option-tmp
                let-item="item"
                let-search="searchTerm">
                <div class="show-tooltip" [matTooltip]="item.deptIdName">
                  {{ item.deptIdName }}
                </div>
              </ng-template>
            </ng-select>
            <mat-error *ngIf="(classroomAddForm.get('deptId').errors && classroomAddForm.get('deptId').touched) ||
                           (classroomAddForm.get('deptId').errors && ngForm.submitted) ">
              {{'CLASSROOM.MSG.SELECT_DEPT'|translate}}
            </mat-error>
          </div>

          <div class="col-md-6">
            <label>{{'CLASSROOM.CLASS_CODE'|translate}} <span>*</span></label>
            <input type="text" formControlName="code"
                   [maxLength]="50"
                   [pattern]="pattern"
                   [disabled]="this.action === 'edit' ? true : null"
                   (blur)="listenCode('code')"
                   style="height: 40px; font-size: 12px !important;"
            >
            <mat-error *ngIf="(classroomAddForm.get('code').errors?.required && classroomAddForm.get('code').touched) ||
                          (classroomAddForm.get('code').errors?.required && ngForm.submitted)">
              {{'CLASSROOM.MSG.SELECT_CLASS_CODE'|translate}}
            </mat-error>
            <mat-error *ngIf="(classroomAddForm.get('code').errors?.pattern && classroomAddForm.get('code').touched) ||
                          (classroomAddForm.get('code').errors?.pattern && ngForm.submitted)">
              {{'CLASSROOM.MSG.CLASS_CODE_WHITE_SPACE'|translate}}
            </mat-error>
          </div>
          <div class="col-md-6">
            <label>{{'STUDENT.INFO.CLASS_NAME'|translate}} <span>*</span></label>

            <input type="text" formControlName="name"
                   (blur)="listenCode('name')"
                   [maxLength]="250"
                   style="height: 40px; font-size: 12px !important;"
            >

            <mat-error *ngIf="(classroomAddForm.get('name').errors && classroomAddForm.get('name').touched) ||
                           (classroomAddForm.get('name').errors && ngForm.submitted)">
              {{'CLASSROOM.MSG.SELECT_CLASS_NAME'|translate}}
            </mat-error>
          </div>
          <div class="col-md-6">
            <label>{{'CLASSROOM.SPECIALIZE'|translate}} </label>

            <ng-select [items]="subjectList"
                       bindLabel="subjectNameCode"
                       bindValue="id"
                       [placeholder]="this.placeholder"
                       formControlName="specialize"
                       style="font-size: 12px!important;"
                       (search)="autoSearchSubject($event)"
            >
              <ng-template ng-option-tmp let-item="item">
                <div class="show-tooltip" [matTooltip]="item.subjectNameCode">{{item.subjectNameCode}}</div>
              </ng-template>
            </ng-select>
          </div>
          <div class="col-md-12">
            <label>{{'CLASSROOM.TEACHER_LEAD'|translate}} <span>*</span></label>

            <ng-select [items]="teacherList"
                       bindLabel="teacherNameCode"
                       bindValue="id"
                       [placeholder]="this.placeholder"
                       formControlName="teacherId"
                       [searchable] = true
                       style="font-size: 12px!important;"
                       (search)="autoSearchTeacher($event)"
                       [clearable]="false"
            >
              <ng-template
                ng-option-tmp
                let-item="item"
                let-search="searchTerm">
                <div class="show-tooltip" [matTooltip]="item.teacherNameCode">
                  {{item.teacherNameCode}}
                </div>
              </ng-template>

            </ng-select>

            <mat-error *ngIf="(classroomAddForm.get('teacherId').errors && classroomAddForm.get('teacherId').touched) ||
                           (classroomAddForm.get('teacherId').errors && ngForm.submitted)">
              {{'CLASSROOM.MSG.SELECT_TEACHER_LEAD'|translate}}
            </mat-error>
          </div>
        </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn-md btn-gray" (click)="onDismiss()">{{'COMMON.CANCEL'|translate}}</button>
          <button type="submit" class="btn-md btn-or" *ngIf="action === 'add'"
                  [disabled]="this.classroomAddForm.invalid"
                  (click)="add()">{{'COMMON.OK'|translate}}</button>
          <button type="submit" class="btn-md btn-or" *ngIf="action === 'edit'"
                  [disabled]="this.classroomAddForm.invalid"
                  (click)="edit()">{{'COMMON.OK'|translate}}</button>
      </div>
    </div>
  </form>
</div>
