:host::ng-deep {
  //.ag-header{
  //  height: 100px;
  //  min-height: 100px;
  //}

  //.ag-header-cell-label{
  //  justify-content: center;
  //}
  .ag-body-horizontal-scroll-viewport {
    overflow-x: hidden !important;
  }
  .ag-pinned-right-cols-container {
    transform: translateX(-2px) !important;
  }
  .ag-header-container
    .ag-header-row
    .ag-header-cell
    .ag-cell-label-container
    .ag-header-cell-label {
  }
  .grid-evaluate .ag-header-row .ag-header-cell-text {
  }

  .ng-select.ng-select-single
    .ng-select-container
    .ng-value-container
    .ng-input {
    margin-top: 10px !important;
    top: 10px !important;
  }
  .ag-root-wrapper
    .ag-root-wrapper-body
    .ag-root
    .ag-body-viewport
    .ag-center-cols-clipper
    .ag-center-cols-viewport
    .ag-center-cols-container {
    width: 100% !important;
  }
  .ag-center-cols-container {
    width: 100% !important;
  }
  .ag-body-viewport .ag-center-cols-clipper .ag-center-cols-viewport {
    //max-width: 100% !important;
    overflow-x: hidden !important;
  }
  .ag-body-viewport {
    overflow-y: none !important;
  }
  .grid-evaluate .ag-center-cols-viewport {
    width: 1000px !important;
  }

  .ag-header-container {
    width: 100% !important;
  }
  .ag-cell
    .ag-cell-not-inline-editing
    .ag-cell-auto-height
    .ag-cell-value
    .ag-cell-focus {
    left: 218px !important;
  }
  .brand-dark .sy-header-center .ag-header-cell-label {
    justify-content: left !important;
    color: #8f95b2 !important;
  }

  .ag-header-group-cell-label,
  .ag-header-cell-label {
    justify-content: left !important;
    padding-left: 0 !important;
    color: #474d66;
    font-weight: 600;
  }
  .ag-header-group-cell-with-group {
    border-left: 0px solid #e2dedb;
  }
  .ng-select.ng-select-single .ng-select-container {
    //height: 40px;
  }

  .ng-select .ng-arrow-wrapper {
    //background: #F4F6FA;
    //border-radius: 4px;
    //margin-right: 5px;
    //padding: 3px;
  }

  .ag-header-group-text {
    font-size: 10px;
  }
  .ag-header-container {
  }

  .ag-header-viewport {
    background: #edeff5;
  }

  //.ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell{
  //  color: #8F95B2 !important;
  //}
  //
  //.ag-cell-label-container{
  //  color: #8F95B2 !important;
  //}

  .headerColor {
    color: #8f95b2 !important;
  }

  .brand-dark .sy-header-center .ag-header-cell-label {
    color: red !important;
  }
}
// .auto-viewport {
//   overflow-x: auto;
// }
.table-school {
  height: 280px;
  margin-bottom: 10px;
}
.set-width {
  width: 100% !important;
}
.student-code {
  color: #696f8c !important;
}
.student-name {
  color: #696f8c !important;
}

.button-close {
  padding: 8px 32px;
  width: 95px;
  height: 32px;
  background: #e6e8f0;
  border-radius: 4px;
  border: none;
  color: #696f8c;
  font-size: 12px;
}

.student-info {
  //color: #101840;
  color: #696f8c !important;
  font-size: 14px !important;
}
//::ng-deep .action-history-package-contact {
//  position: absolute;
//  display: flex;
//  justify-content: center;
//  max-width: 100%;
//  height: 100%;
//  // margin: 0;
//  left: 18.6vw;
//
//  .modal-content {
//    //width: 50%;
//    width: 79vw !important;
//    height: 628px;
//    //height: 600px;
//    height: auto;
//    align-self: center;
//  }
//}
