<div class="modal-dialog-custom modal-dialog-upload">
    <div tabindex="0"></div>
  <form [formGroup]="formImportSubject" class="sy-form">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'TEACHER_ASSIGNMENT.IMPORT_TEACHER_ASSIGNMENT' | translate}}</h4>
        <p class="des">
          {{'TEACHER_ASSIGNMENT.PROCESS_UPLOAD' | translate}}
        </p>
      </div>
      <div class="modal-body">
        <div class="current-year">
          <label class='sy-label'>{{'TEACHER_ASSIGNMENT.YEAR' | translate}}</label>
          <input
            class="sy-input"
            type="text"
            name="currentYear"
            formControlName="currentYear"
            placeholder=""
            disabled
          />
        </div>
        <div class="title-list-file">
          <p>{{'TEACHER_ASSIGNMENT.FILE_ASSIGN' | translate}}</p>
          <div *ngIf="!(isImported && uploaded && totalRecord === totalSuccess)">
            <span>{{'TEACHER_ASSIGNMENT.DOWNLOAD_DEMO' | translate}}</span>
            <a (click)="downloadSampleFile()" style="cursor: pointer" tabindex="0" class="filedemo" (keyup.enter)="downloadSampleFile()" >[{{'TEACHER_ASSIGNMENT.CLICK_TO_DOWNLOAD' | translate}}]</a>
          </div>
        </div>
        <div class="container-upload">

          <input
            id="upload-file"
            #myInput
            type="file"
            (change)="onFileInput($event)"
            style="display: none"
          />
          <label for="upload-file" tabindex="0" (keyup.enter)="myInput.click()">
            <div class="sy-btn-action blue" >
              <span class="sy-ic ic-size-12 ic-mr-8 ic-svg-download" ></span>
              {{'TEACHER_ASSIGNMENT.UPLOAD' | translate}}
            </div>
          </label>
          <p>{{'TEACHER_ASSIGNMENT.FILE_VALID' | translate}}</p>
        </div>
        <div class="info-file" *ngIf="uploaded">
          <div class="file-name" title="{{nameFile}}">{{nameFile}}</div>
          <div class="filedemo" style="font-style: normal;
                  font-weight: 600;
                  font-size: 12px;
                  text-align: right;
                  color: #D14343;" tabindex="0" (click)="deleteFile()" (keyup.enter)="deleteFile()">{{'TEACHER_ASSIGNMENT.DELETE_FILE' | translate}}</div>
        </div>
        <div class="prosess-bar" *ngIf="uploaded"></div>
        <div class="size-file" *ngIf="uploaded">{{ sizeFile }} Byte ({{'TEACHER_ASSIGNMENT.UPLOAD_DONE' | translate}})</div>
        <div [ngClass]="{ 'page-overlay-wrapper': this.hide === false }">
          <div class="bee-spinner"></div>
        </div>
        <div class="result-import" *ngIf="isImported && uploaded">
          <div class="result-import--success">
            <div>
              {{'TEACHER_ASSIGNMENT.SUCCESS' | translate}}:
              <span style="color: #52bd94"
                >{{ totalSuccess }}/{{ totalRecord }}</span
              >
              {{'TEACHER_ASSIGNMENT.RECORD' | translate}}
            </div>
            <a
              (click)="downloadErrorFile()"
              *ngIf="isImported && totalError !== 0"
              class="filedemo" tabindex="0"
              >[{{'TEACHER_ASSIGNMENT.CLICK_TO_DOWNLOAD_ERROR' | translate}}]</a
            >
          </div>
          <!-- <div class="result-import--error">
            <div>
              Thất bại:
              <span style="color: #d14343"
                >{{ totalError }}/{{ totalRecord }}</span
              >
              bản ghi
            </div>
          </div> -->
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-actions">
          <button type="button" class="sy-btn-action filedemo btn-ac-hv" tabindex="0" (click)="onDismiss()">
            {{'TEACHER_ASSIGNMENT.CANCEL' | translate}}
          </button>
          <button
            type="submit"
            [disabled]="formImportSubject.invalid || disableImport"
            class="sy-btn-action active filedemo btn-ac-hv" tabindex="0"
            (click)="importFile()"
          >
          {{'TEACHER_ASSIGNMENT.IMPORT' | translate}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
