

.nav-content{
  background: #FFFFFF;
  border: 1px solid #E6E8F0;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(28, 41, 90, 0.0367952);
  border-radius: 10px;
  width: 100%;

  .number{
    background: #D14343;
    border-radius: 43%;
    color: white;
    min-width: 20px;
  }
  .f16{
    font-size: 16px;
  }
  .f14{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #101840;
  }

  .f14-item{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #696F8C;
  }
  .f14-item-black{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #101840;
    min-width: 35px;
  }
  .f14-item-blue{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #396aff;
    cursor: pointer;
  }
  .f10{
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    color: #8A94A6;
  }
  .f12{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

  }
  .f12-item{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #696F8C;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header{
    font-weight: 700;
    font-size: 16px;
  }

  .select-header{
    border-bottom: 2px solid #F26522 !important;
    color: #F26522 !important;
  }

  .nav .nav-link{
    border: none;
    border-bottom: 1px solid #E6E8F0;
    color: #101840;
    align-items: flex-start;
  }

  .nav-left{
    .choose{
      background: #FFFFFF !important;
    }
    .not-open{
      background: #FDF7F4 !important;
    }
    .icon-not-open{
      max-width: 8px;
      min-width: 8px;
      max-height: 8px;
      min-height: 8px;
      border-radius: 50%;
      background: #F26522;
    }
    border-right: 1px solid #E6E8F0;
    .content-web{

    }

    .k-color-dark{
      font-weight: bold;
    }
    .nav-button{
      display: flex;
      flex-direction: row;
      align-items: center;
      //padding: 8px 32px;
      height: 36px;
      background: #f26522;
      border-radius: 4px;
      color: #fff;
      border: none;
      justify-content: center;
      font-weight: 600;
      width: 100%;
    }
    .scroll-item{
      display: list-item;
      overflow-y: auto;
      height: 500px;
      .item{
        cursor: pointer;
        background: #FAFBFF;
        border: 1px solid #EDEFF5;
        box-sizing: border-box;
        border-radius: 12px;
        min-height: 90px;
        max-height: 90px;
        .send-name{
          //white-space: nowrap;
          //overflow: hidden;
          //text-overflow: ellipsis;
          display: flex;
        }
        .n-r-title {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

  }
  .nav-right{
    .r-header{
      height: 105px;
      .see-more{
        font-weight: 500;
        min-width: 83px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .r-h-name{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #101840;
      }
    }
    .r-body{
      border-top: 1px solid #EDEFF5;
      .btn-download{
        border: none;
        background: none;
        //width: 100%;
        //overflow: hidden;
        //text-overflow: ellipsis;
        //white-space: nowrap;
      }
      .r-b-title{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #101840;
      }
      .content-sms-web{
        overflow-y: auto;
        white-space: pre-wrap;
        height: 420px;
      }
    }
    .r-b-text{
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #474D66;
      overflow: auto;
      white-space: pre-wrap;
      height: 420px;
    }
    .r-b-text-sms-web{
      font-weight: 500;
      font-size: 15px;
      line-height: 24px;
      color: #474D66;
    }
  }
  .nav-height{
    height: 100%;
  }
}


:host::ng-deep {
  .ng-select.ng-select-single .ng-select-container {
    height: 37px;
  }

  .ng-select .ng-arrow-wrapper{
    background: #F4F6FA;
    border-radius: 4px;
    margin-right: 5px;
    padding: 3px;
  }

  .ng-select-container {
    border: 1px solid #E4E6EF !important;
  }
  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #E6E8F0;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
}

.list-recipient {
  display: flex;
  span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #696F8C;
    &.see-more {
      text-overflow: inherit;
      overflow: inherit;
      color:  #3366FF;
      cursor: pointer;
    }

  }
  .group-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #696F8C;
    white-space: nowrap;
  }

}

.size-file{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #8F95B2;
  min-width: 82px;
}
.name-file{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.avatar-preview{
  width: 100%;
  height: 100%;
  //border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10%;
}
