<div class="modal-dialog-custom">
  <form class="login-form">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center;text-transform: uppercase">{{'CLASSROOM.TRANSFER_CLASS'|translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="row info">
          {{'CLASSROOM.TRANSFER_CLASS_CONTENT1'|translate}} {{year}} {{'CLASSROOM.TRANSFER_CLASS_CONTENT2'|translate}} {{nextYear}},{{'CLASSROOM.TRANSFER_CLASS_CONTENT3'|translate}}
        </div>
        <div class="list-info">
          <ul>
            <li class="list-item">{{'CLASSROOM.INFO_CLASS'|translate}}</li>
            <li class="list-item">{{'CLASSROOM.TEACHER_LEAD2'|translate}}</li>
            <li class="list-item">{{'CLASSROOM.SUBJECT_BELONG_CLASS'|translate}}</li>
          </ul>
        </div>
        <div class="notify">
          {{'CLASSROOM.TRANSFER_CLASS_CONTENT4'|translate}} [{{nextYear}}]
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-md btn-gray" (click)="onDismiss()" tabIndex="0">{{'COMMON.CANCEL'|translate}}</button>
        <button type="submit" class="btn-md btn-or" (click)="onConfirm()" tabIndex="0">{{'COMMON.AGREE'|translate}}</button>
      </div>
    </div>
  </form>
</div>
